<h1 class="splash-head">Hello and Welcome!</h1>
<p class="splash-subhead">
    Let's get started. Here is where we will log in to this app using OAuth 2.
</p>
<p>
  <%= link_to 'Log In with GitHub', code_uri, class: "pure-button github button" %>
</p>